{% extends 'swiftwind/base.html' %}
{% load bootstrap3 hordak %}

{% block page_name %}{{ housemate.user }}{% endblock %}
{% block page_description %}{% endblock %}

{% block content %}

    {% with balance=housemate.account.balance %}
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-xs-12">
                {% if balance > 0 %}
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <p>You currently owe:</p>
                            <h3>{{ balance|abs }}</h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                {% elif balance > 0 %}
                    <div class="small-box bg-success">
                        <div class="inner">
                            <p>The house currently owes you:</p>
                            <h3>{{ balance }}</h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                {% else %}
                    <div class="small-box bg-success">
                        <div class="inner">
                            <p>Your account balance is zero</p>
                            <h3>{{ balance }}</h3>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endwith %}

    <h3>Statement for {{ start_date }} to {{ end_date }}</h3>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Recurring costs
                        <small>Due on X (in Y days)</small>
                    </h3>
                </div>
                <div class="box-body">
                    {% if recurring_legs %}
                        <table class="table table-striped">
                            <tbody>
                            {% for leg in recurring_legs %}
                                {% with recurring_cost=leg.transaction.recurred_cost.recurring_cost %}
                                    <tr>
                                        <td>{{ recurring_cost.to_account.name }}</td>
                                        <td>{{ leg.amount }}</td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                                <tr>
                                    <td></td>
                                    <th>{{ recurring_total }}</th>
                                </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-center note">No recurring costs</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        One-off costs
                        <small>Due on X (in Y days)</small>
                    </h3>
                </div>
                <div class="box-body">
                    {% if one_off_legs %}
                        <table class="table table-striped">
                            <tbody>
                            {% for leg in one_off_legs %}
                                {% with recurring_cost=leg.transaction.recurred_cost.recurring_cost %}
                                    <tr>
                                        <td>{{ recurring_cost.to_account.name }}</td>
                                        <td>{{ leg.amount }}</td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                                <tr>
                                    <td></td>
                                    <th>{{ one_off_total }}</th>
                                </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-center note">No one-off costs</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Other transactions
                    </h3>
                </div>
                <div class="box-body">
                    {% if other_legs %}
                        <table class="table table-striped">
                            <tbody>
                            {% for leg in other_legs %}
                                <tr>
                                    <td>{% firstof leg.transaction.description 'No transaction description' %}</td>
                                    <td>{{ leg.amount }}</td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td></td>
                                    <th>{{ other_total }}</th>
                                </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-center note">No other costs</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Total for this period
                    </h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <th>{{ one_off_total }}</th>
                            </tr>
                        </tbody>
                    </table>
            </div>
            </div>
        </div>
    </div>



{% endblock %}
