{% extends 'swiftwind/base.html' %}
{% load bootstrap3 %}

{% block page_name %}Housemates required{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="alert alert-danger alert-main">
                <h4><i class="icon fa fa-ban"></i> You need to create some housemates first</h4>
                It appears you haven't created any housemates yet. You need to do this first before you can
                use this page.
            </div>
            <div class="text-center">
                <a href="{% url 'housemates:create' %}" class="btn btn-primary btn-lg">Create some housemates now</a>
            </div>
        </div>
    </div>
{% endblock %}
