{% extends 'core/base.html' %}

{% block body %}

    <nav>
        <h4>Navigation</h4>
        <ul>
            <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'transactions:reconcile' %}">Reconcile Transaction</a></li>
            <li><a href="{% url 'transactions:create' %}">Create Transaction</a></li>
            <li><a href="{% url 'transactions:import_create' %}">Import Statement</a></li>
        </ul>
    </nav>
    <hr>

    {% block content %}{% endblock %}

{% endblock %}
