{% extends 'costs/recurring.html' %}
{% load bootstrap3 %}
{% load swiftwind_utilities %}

{% block page_name %}One-off Costs{% endblock %}
{% block page_actions %}
    <a href="{% url 'costs:create_one_off' %}" class="btn btn-success btn-sm">
        Create New
    </a>
{% endblock %}

{% block explanation_title %}There are no active one-off costs{% endblock %}

{% block explanation %}
    <p>One-off costs allow you to spread miscellaneous costs between housemates.
    These costs can even be spread over several billing cycles if you wish.
    These will feature on each housemates' bill.</p>

    <p class="text-bold">Examples: new TV, house trip, getting a plumber</p>

{% endblock %}
